.emp-team-card {
  max-height: 16rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.emp-team-card::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.emp-team-card::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
.emp-team-card::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.emp-team-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}
